@import "tailwindcss";
@plugin "daisyui";
@layer components {
    .scrollbar-thin {
        scrollbar-width: thin;
    }
}

input[type="color"] {
    height: calc(0.3rem * 8);
    margin-top: -2px;
}

.pickr {
    flex-grow: 1;
}

.pickr > button {
    width: 100% !important;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

label .bi-plus {
    animation: fade-in-rotation 150ms ease-in;
}

label .bi-dash {
    animation: fade-out-rotation 150ms ease-in;
}

@keyframes fade-in-rotation {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(90deg);
    }
}

@keyframes fade-out-rotation {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(-45deg);
    }
}
